<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/element.min.css">
    <style>
        label {
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
    <script src="/static/vue.min.js"></script>
    <script src="/static/element.min.js"></script>
</head>
<body style="height: 100%">

<div style="position:absolute; top:50%;transform: translateY(-50%);width: 100%;overflow: hidden; ">
    <div>
        <img src="/static/images/logo.png" style="margin-left: 2% ;vertical-align:bottom;">
        <span style="font-size: 35px;color: #578baf;">阳江业务流程管理平台</span>
    </div>
    <img src="/static/images/login_bg.png"/>
    <div style="text-align: center;">中广核集团技术中心 Copyright 2011-2012 技术支持: 信息中心 联系电话:45683*</div>
</div>
<div id="myVue" style="position: absolute;top:50%;transform: translateY(-50%);right: 50px;background-color: #F0F8FA">
    <el-tabs type="border-card">
        <el-tab-pane>
            <span slot="label"><i class="el-icon-goods"></i> 用户登录</span>
            <div>
                <form>
                    <label style="text-align: left">用户名</label>
                    <input>
                    <br>
                    <label style="text-align: left">密码</label>
                    <input>

                </form>
            </div>
        </el-tab-pane>
    </el-tabs>


</div>


<script type="text/javascript">
    new Vue({
        el: '#myVue'
    })
</script>
</body>
</html>